@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
}

header {
    background-color: black;
    min-width: none;
    min-height: 150px;
    padding-top: 20px;
    text-align: center;
}

header > h1{
    font-family: 'Bebas Neue';
    font-size: 10em;
    margin-top: 20px;
    letter-spacing: 1.5px;
    color: white;
    text-align: center;
}

main{
    background-color: black;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
}

div.catGif {
    background-color: black;
    padding-bottom: 58%;
    position: relative;
}

div.catGif > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

div.catGif > p{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border: 1px dashed red;
}


.countdown-body {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-container {
    display: flex;
    justify-content: center;
    width: 80%;
}

.countdown-box {
    text-align: center;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: rgba(221, 221, 221, 0.24);
}
